@charset "UTF-8";

$sep_mobile: 920px;

/* auth */
#admin-bar {
  background: lightblue;
  padding: 10px;
  text-align: center;
  overflow: hidden;

  .pull-right {
    float: left;
  }

  .pull-right {
    float: right;
  }

  a + a {
    border-left: 1px solid #000;
    margin-left: 10px;
    padding-left: 10px;
  }
}

/* common */
body {
  font-family: "游ゴシック", YuGothic, --apple-system, 'Hiragino Sans', "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #00E;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.btn {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 30px;
  border: 1px solid #3F51B5;
  border-radius: 2px;
  color: #fff;
  background: #03A9F4;
  font-weight: bold;
  opacity: 1.0;

  &:hover {
    opacity: 0.8;
  }
}

/* header */
header {
  //background: lightpink;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 24px;
  overflow: hidden;
}

header .header-title {
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  margin: 16px 0;
}

header .header-mobile-menu {
  font-size: 1.5em;
  margin: 16px 0;
  float: right;
  cursor: pointer;
}

header .header-pc-menu {
  display: none;
  list-style: none;
  clear: both;
  padding: 0;
  margin: 0 0 10px;

  li {
    text-align: center;
    border-bottom: 1px dashed #cccccc;
  }

  li a {
    display: block;
    padding: 14px;
    color: #ffffff;
    background: #333;
    opacity: 0.8;

    &:hover {
      opacity: 1.0;
    }
  }

  li:last-child {
    border-bottom: none;
  }

}

/* content */
.content {
  width: 100%;
}

/* article */
article {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 12px;
  margin-bottom: 24px;
}

article:last-child {
  border-bottom: none;
}

article img {
  width: 100%;
  height: auto;
}

article .content-heading {
  font-size: 1.5em;
  margin: 22px 0 0;
  a {
    color: #000;
  }
}

/* category */
.categories {
  list-style: none;
  padding: 0;
  margin: 10px 0;

  li {
    display: inline-block;
    margin-right: 0px;
    border-radius: 5px;
    border: 1px solid #000;

    a {
      display: block;
      color: #000;
      padding: 5px;
    }

    &:hover {
      background: #ec971f;
      a {
        color: #fff;
      }
    }
  }
}

/* sidebar */
.sidebar {
  margin: 30px 0 50px;
  overflow: hidden;
}

.sidebar .item {
  margin-bottom: 40px;
}

.sidebar .item .sidebar-heading {
  font-size: 1.4em;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}

/* footer */
footer {
  background: #ccc;
  color: #666;
  font-weight: bold;
  text-align: center;
  padding: 60px;
}

/**

PC Layouts

 */
@media screen and (min-width: $sep_mobile + 32px) {

  /* common */
  .container {
    width: $sep_mobile;
  }

  /* header */
  header .header-title {
    float: none;
    text-align: center;
    font-size: 2.0em;
  }

  header .header-mobile-menu {
    display: none;
  }

  header .header-pc-menu {
    display: block;
    text-align: center;

    li {
      display: inline-block;
      border: none;
    }

    li a {
      opacity: 1.0;
      color: #000;
      background: transparent;
    }
  }

  /* content */
  .content {
    float: left;
    width: 65%;
    margin-right: 5%;
  }

  /* article */
  article .content-heading {
    font-size: 2.0em;
  }

  /* sidebar */
  .sidebar {
    float: right;
    width: 30%;
  }

}